html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  margin-left: 10%;
  margin-top: 5%;
  display: block;
}

#sad_cat {
  position: absolute;
  max-height: 80vw;
  display: none;
  bottom:20vh;
  right:5vw;
}

#happy_cat {
  position: absolute;
  max-height: 80vw;
  display: none;
  bottom:40vh;
  right:10vw;
}